<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.yanweiran.Login"
      android:versionCode="14"
      android:versionName="4.1">
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                android:theme="@android:style/Theme.NoTitleBar"
        >


        <activity android:name="org.yanweiran.app.activity.Login"
                  android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册页面-->
        <activity android:name="org.yanweiran.app.activity.Register"
                  android:label="欢迎来到注册页面"
                android:screenOrientation="portrait" >
        </activity>
        <!--教师登陆后 -->
        <activity
                android:name="org.yanweiran.app.activity.AfterLogin_Teacher"
                android:label="家长应用"
            android:screenOrientation="portrait"
            >
            </activity>
        <!-- 家长登录后 -->
        <activity android:name="org.yanweiran.app.activity.AfterLogin_Student"
                   android:label="家长应用"
                    android:screenOrientation="portrait"
            >
        </activity>
        <!--老师通知里的四个活动 -->
        <activity android:name="org.yanweiran.app.activity.TeacherNotice"
                    android:label="家长应用"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="org.yanweiran.app.activity.IndividualCenter"
                    android:label="个人中心"
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name="org.yanweiran.app.activity.RelativeComment"
                   android:label="相关评论"
                    android:screenOrientation="portrait"
            >
        </activity>
        <activity   android:name="org.yanweiran.app.activity.MessageBox"
                    android:label="消息箱"
                    android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name="org.yanweiran.app.activity.WeekArrange"
                  android:screenOrientation="portrait"
            />
        <activity android:name="org.yanweiran.app.activity.WeekRecipe"
                    android:screenOrientation="portrait"
            />
        <activity android:name="org.yanweiran.app.activity.EditText"
                    android:screenOrientation="portrait"
            />
        <activity android:name="org.yanweiran.app.activity.ForgetPassword"
                    android:screenOrientation="portrait"
            />
        <activity android:name="org.yanweiran.app.activity.FreshNews"
                android:screenOrientation="portrait"
            />
    </application>
</manifest>
