/* Button - We only change the 'pressed' state */
.myButton:pressed {
	background-color: url(boom.png);
	border: 1px solid #FF2234;
	color: blue;
}
/*================================
        老师通知的样式
=================================*/
    /*总框架*/
    .singleContent
    {
        background-color:#FFFFFF;
    }
    /*头像样式*/
    .headPhoto
        {
            width:2px;
            height:1px;
        }
        /*用户名样式*/
    .teacherName
        {
            color:#B63028;
        }
    .line
        {
            background-color:#E44B3D;
        }
    .getText
        {
            color:#0F0F0F;
        }
        .category
        {
            background-color:#DA4236;
            color:#FFFFFF
        }
        .comAndapp
        {

        }
        .thirdR
        {
            backround-color:#CCCCCC;
            border-top:1px solid #CCCCCC;
            color:#E44B3D;
        }
